<div class="hbox hbox-auto-xs hbox-auto-sm" v-controller="AbnTestController">

	<div class="col">
		<div class="wrapper-md">
			<div class="b-a bg-light dk r r-2x" style="max-height: 40rem;overflow-y: auto;">
				<span v-if="doing_async">...loading...</span>
				<abn-tree tree-data="my_data" tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level="11" initial-selection="Granny Smith" icon-leaf="fa fa-file-o" icon-expand="fa fa-plus" icon-collapse="fa fa-minus">
				</abn-tree>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="wrapper-md">
			<div class="b-a bg-light dk r r-2x" style="padding: 10px;">
				<h5 style="text-align: center;"><span style="color: red;" v-bind="outputName"></span>节点</h5>
				<div class="m-t-sm m-b-sm">
					<button v-click="try_adding_a_branch()" class="btn btn-success btn-sm"><i class="fa fa-fw m-r-xs fa-plus"></i>增加节点</button>
					<button v-click="try_deleting_a_branch()" class="btn btn-warning btn-sm"><i class="fa fa-fw m-r-xs fa-plus"></i>删除节点</button>
					<button v-click="create_a_json()" class="btn btn-danger btn-sm"><i class="fa fa-fw m-r-xs fa-plus"></i>保存修改</button>
					<button v-click="delete_json()" class="btn btn-info btn-sm"><i class="fa fa-fw m-r-xs fa-plus"></i>还原数据</button>
					<button v-click="copy_json()" class="btn btn-dark btn-sm"><i class="fa fa-fw m-r-xs fa-plus"></i>复制数据</button>
					<!--<button v-click="my_tree.expand_branch()" class="btn btn-default btn-sm">展开</button>-->
					<!--<button v-click="my_tree.collapse_branch()" class="btn btn-default btn-sm">收缩</button>-->
					<button v-click="my_tree.expand_all()" class="btn btn-default btn-sm">展开所有</button>
					<button v-click="my_tree.collapse_all()" class="btn btn-default btn-sm">收缩所有</button>
					<!--fa-compress <i class="fa fa-expand m-r-xs"></i>-->
					<button v-click="toggleFullScreen()" class="btn btn-danger btn-sm"><span v-bind="fullName"></span></button>
				</div>
				<div class="line b-b line-lg"></div>
				<div class="form-group row">
					<label for="Textarea0" class="col-sm-2 col-form-label text-right">编辑节点:</label>
					<div class="col-sm-10">
						<textarea class="form-control" id="Textarea0" rows="1" v-model='output.label'></textarea>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2"></label>
					<div class="col-sm-10 ">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="inlineCheckbox1" v-model="output.leaf" v-change="doChange()">
							<label class="form-check-label" for="inlineCheckbox1">设为结果节点</label>
						</div>

					</div>
				</div>
				<div class="form-group row" v-show="output.leaf">
					<label for="Textarea1" class="col-sm-2 col-form-label  text-right">节点说明:</label>
					<div class="col-sm-10">
						<textarea class="form-control" id="Textarea1" rows="3" v-model='output.data'></textarea>
					</div>
				</div>
				<div class="line b-b line-lg"></div>
				<div class="form-group row">
					<label class="col-sm-2  text-right">温馨提示:</label>
					<div class="col-sm-10" >
						问题节点：同级只能有一个，可添加多个“选项节点”；<br/>
						选项节点：同级可以有多个，但只能拥有一个“问题节点”或“结果节点”；<br/>
						结果节点：同级只能有一个，可设置结果说明；<br/>
						<span style="color: red;">保存修改：只能将数据保存在本地计算机，可在本机“访问链接”查看效果。如想保存到远程服务器，请“复制数据”，然后将数据交给作者修改。</span><br/>
						访问链接：<a href="#home"  style="text-decoration:underline">https://liuyouxing.github.io/time_customhouse/index.html</a><br />
						github链接：<a href="https://github.com/liuyouxing/time_customhouse" style="text-decoration:underline" target="_blank">https://github.com/liuyouxing/time_customhouse</a><br />
					</div>
				</div>

			</div>
		</div>
	</div>

</div>